body {
  padding: 30px;
  text-align: center;
  font-size: 16px;
  //font-family: 'Rock Salt', cursive;
  background-color: white;
  //background-image: url('images/notebook.png');
  //sbackground-repeat: no-repeat;

}

header {
  font-size: 56px;
  font-family: 'Rock Salt', cursive;
  //margin-top: 50px;
  color: #f1d27a;
  text-align: left;
  padding: 0px 10px 5px 20px; 
}

section {
  //background-color: red;
  width: 900px;
}

#wrapper {
  width: 900px;
  height: 600px;
  margin: 0 auto;
  padding: 160px 0px 0px 40px;
  background-color: black;
  background-image: url('images/notebook.png');
}

ul {
  list-style: none;
  font-family: 'Bad Script', cursive;
  padding: 0;
  margin-bottom: 20px;
  color: black;
  font-size: 20px;
}

li {
    line-height: 1.0em;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 22px;

}

input {
  border: 2px solid #dfdfdf;
  font-family: 'Bad Script', cursive;
  margin-top: 35px;
  padding: 5px 8px 10px 8px;
  width: 200px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

input:focus, 
input:active, 
input:hover {
  outline: none;
  background-color: #dac68d;
  font-size: 18px;
}

button:focus, 
button:active, 
button:hover {
  background-color: #a69156;
}

button {
  cursor: pointer;
  background-color: #999;
  color: black;
  font-family: 'Rock Salt', cursive;
  //text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 10px;
  margin-left: 10px;
  border-radius: 4px;
  border: none;
}

footer {
  margin: 60px 150px 0px 0px;
  font-size: 12px;
  text-align: right;
  color: #a69156;
}